a
    text-decoration none
.home-announcement 
    font-size 14px
    font-weight 400
    position relative
    display table
    margin-top 25px
    transition all 400ms ease-out 252.356ms
    padding 3px 12px 4px 10px
    transform translateY(0)
    color #47457b
    border-radius 24px
    background-color #D6D6D8
    cursor pointer
    &:hover
        background-color #D6D6D8
        padding 3px 40px 4px 10px
        #tooltip
            opacity 1
    .circle-dot 
        float left
        width 10px
        height 10px
        margin-top 5px
        margin-right 6px
        border-radius 24px
        background-color #cd3492
    .yellow
       background-color yellow
    .blue
        background-color deepskyblue
    .red
        background-color red
    .green
        background-color limegreen
    #tooltip
        transition: all 400ms ease-out 252.356ms
        position absolute
        display inline
        padding-left 15px
        opacity 0
        float right
        width 10px
        height auto
        color #3e7bfe